<!-- ***** Testimonials Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Articles <em>Scientifiques</em></h2>
                    <img src="assets/images/line-dec.png" alt="">
                    <p>ici vous trouvez nos articles scientifiques.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <a href="#Article1">     <img src="assets/images/gainz.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span>P. Debraux | 1 Novembre 2016</span>
                        <a href="#">  <h4>Gains en force et en hypertrophie musculaire : Sommes-nous tous égaux ?</h4></a>
                        <p>Les recommandations générales pour l'amélioration de la santé passent habituellement par une pratique régulière d'une activité physique, et notamment par un renforcement musculaire...</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/pierre-debraux-a835b92b/?originalSubdomain=fr"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <a href="#">  <img src="assets/images/course.jpg" alt="course"></a>
                    </div>
                    <div class="down-content">
                        <span>Meritxell Sacasas, Masseuse-kinésithérapeute</span>
                        <a href="#">  <h4>Course à pied et hydratation : les astuces à ne pas manquer</h4></a>
                        <p>Nous devons garder à l’esprit que nous sommes composés d’environ 60 % d’eau et que, pour que notre organisme fonctionne correctement, il est essentiel de garder cette proportion d’eau. Lorsque nous sommes déshydratés, le niveau d’eau dans notre sang...</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/meritxell-sacasas-91355b47/?locale=fr_FR"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
              <div class="trainer-item">
                  <div class="image-thumb">
                    <a href="#"> <img src="assets/images/squat.jpg" alt="squat"></a>
                  </div>
                  <div class="down-content">
                      <span>Ludovica APE, Strength and Conditioning Coach</span>
                      <a href="#"> <h4>Quelles sont les causes du butt wink au squat ?</h4></a>
                      <p>Malgré son nom amusant, le terme “butt wink” (en français clin d’œil) fait en fait référence à un phénomène indésirable survenant lors de l’exécution d’un squat : l’utilisateur arrondit son dos à la fin de la partie excentrique d’une répétition, ce qui l’expose à un risque de...</p>
                      <ul class="social-icons">
                          <li><a href="https://www.facebook.com/ludovica.ape/"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/ludovica-ape-44a887115/"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-behance"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
            <div class="trainer-item">
                <div class="image-thumb">
                    <a href="#">
                    <img src="assets/images/third-trainer.jpg" alt=""></a>
                </div>
                <div class="down-content">
                    <span>Power Trainer</span>
                    <a href="#"> <h4>Exercice et arthrite : la science dit qu’il faut rester actif</h4></a>
                    <p></p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
                </div>
                </div>
          
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <a href="#">
                            <img src="assets/images/third-trainer.jpg" alt=""></a>
                        </div>
                        <div class="down-content">
                            <span>Power Trainer</span>
                            <a href="#">   <h4>Exercice et arthrite : la science dit qu’il faut rester actif</h4></a>
                            <p></p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        </div>
                        </div>


                <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <a href="#">
                        <img src="assets/images/third-trainer.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span>Power Trainer</span>
                        <a href="#">   <h4>Exercice et arthrite : la science dit qu’il faut rester actif</h4></a>
                        <p></p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</section>
<section class="section" id="Article1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Article <em>Scientifique</em></h2>
                    <img src="assets/images/line-dec.png" alt="imc">
                                </div>
            </div>
        </div>
  </div>
  </section>
<!-- ***** Testimonials Ends ***** -->