<div class="banner">
    <div class="content">
        <h1 class="mb-5">Build your perfect body<br/></h1>
        <mat-progress-bar mode="determinate" color="warn" value="33"></mat-progress-bar>
        <br>
    	<h2 class="mb-5">Choisis ton objectif<br/></h2>
    	<button routerLink="/programs/lweight" routerLinkActive="active-link" class="favorite styled1"
        type="button">Perdre du poids</button>
        <br>
    	<button routerLink="/programs/gmuscle" routerLinkActive="active-link" class="favorite styled2"
        type="button">Prendre du muscle</button>
    	<br>
    	<button routerLink="/programs/gshredded" routerLinkActive="active-link" class="favorite styled3"
        type="button">Endurance et renforcement</button>
    </div>
</div>	

