<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>MuscleMAX vous accompagne dans votre aventure !</h1>
            <p>Devenez une meilleure version de vous-même</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a class="annex" routerLink="">Acceuil</a>
            <a class="annex" routerLink="about">À propos</a>
            <a class="annex" routerLink="contact">Nous contacter</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" class="annex" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" class="annex" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" class="annex" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" class="annex" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
