<div class="banner">
    <div class="content">
    	<br><br><br><br>
        <mat-progress-bar mode="determinate" color="warn" value="100"></mat-progress-bar>
        <br>
    	<h2 class="mb-5">Choose your level<br/></h2>
    	<button routerLink="/programs/gshredded/beginner" routerLinkActive="active-link" class="favorite styled1"
        type="button">Beginner</button>
        <br>
    	<button routerLink="/programs/gshredded/intermediate" routerLinkActive="active-link" class="favorite styled2"
        type="button">Intermediate</button>
    	<br>
    	<button routerLink="/programs/gshredded/hero" routerLinkActive="active-link" class="favorite styled3"
        type="button">Hero</button>
    </div>
</div>	

