<!-- ***** Call to Action Start ***** -->
<section class="section" id="call-to-action">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <div class="cta-content">
                  <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                  <p>If you want something you’ve never had before, you have to be willing to do something you’ve never done before.</p>
                  <div class="main-button scroll-to-section">
                      <a href="#our-classes">Devient un membre</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** Call to Action End ***** -->

<section class="section" id="protein">
  <div class="container">
      <div class="row">
  <div class="section-heading dark-bg">

                  <h2><em>Produits Alimentaire</em></h2>
                  <img src="assets/images/line-dec.png" alt="imc">

                 <app-products></app-products>
                              </div>
                              </div>
                              
                          </div>   
</section>


<!-- ***** Our Classes End ***** -->