.banner
{
  background-image:url("../../assets/images/prot.jpg") ;
   margin-top: 0px;
    height: 900px;
    background-position: center;
    background-size: cover;
}
.rounded-borders {
  height: 550px;
  width: 300px;
  border-color: #000000 #c4ccdb;
  border-image: none;
  border-radius: 50px 0 50px 0;
  border-style: solid;
  border-width: 10px;
}
.stepbox h1
{
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
}
  
 
  .buybtn
{

    color: white;
    background-color: black;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 70px 55px;
 
   
}
.fw-light
{
    color:#ffffff;
    font-size: 60px;
    font-weight: bold;
    
    
}
.card-text{
  color:black;
}

.btn-group{
  margin-top: 30px;
}