<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
  <video onloadedmetadata="this.muted = true" autoplay muted loop id="bg-video">

  </video>

  <div class="video-overlay header-text">
      <div class="caption">
          <h6>work harder, get stronger</h6>
          <h2>easy with our <em>gym</em></h2>
          <div *ngIf="!authService.isAuthenticated" class="main-button scroll-to-section">
              <a routerLink="/programs" routerLinkActive="active-link">Start Your Training</a>
          </div>
      </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Features Item Start ***** -->

<section class="section" id="IMC">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="section-heading dark-bg">
                  <h2>Calculez votre <em>IMC</em></h2>
                  <img src="../../../assets/images/line-dec.png" alt="imc">
                  <app-im-calcul></app-im-calcul>
                              </div>
          </div>
      </div>
  </div>
</section>

<section class="section" id="Calorie">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="section-heading dark-bg">
                  <h2>Calculez vos <em>Calories & Macros</em></h2>
                  <img src="../../../assets/images/line-dec.png" alt="Calories">
                 <app-calorie-calcul></app-calorie-calcul>
                              </div>
          </div>
      </div>
  </div>
</section>

<!-- ***** Features Item End ***** -->

<!-- ***** Call to Action Start ***** -->
<section class="section" id="call-to-action">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <div class="cta-content">
                  <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                  <p>If you want something you’ve never had before, you have to be willing to do something you’ve never done before.</p>
                  <div *ngIf="!authService.isAuthenticated" class="main-button scroll-to-section">
                      <a routerLink="/login" routerLinkActive="active-link">Devient un membre</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** Call to Action End ***** -->

